*.sw*
*~
build/
bin/
node_modules/
vendor/
build-archive/*
.idea/*
app/*
*.iml
.jshintrc
karma.conf.js
src/app/buildDetails.js
.project
.settings/**
.tern-project
jsconfig.json
src/.settings/*
.vscode/settings.json
*.xproj*
