<form role="form" id="passwordManagementForm" name="passwordManagementForm" ng-submit="updatePassword()" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <uib-alert ng-show="currentAlert !== undefiend" type="{{currentAlert.type}}">
                <i ng-class="currentAlert.style.class"
                   ng-style="{color: currentAlert.style.color}"></i>
                <span ng-bind-html="currentAlert.message"></span>
            </uib-alert>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-8">
            <div class="form-group">
                <input id="currentPassword" name="currentPassword" type="password" class="form-control"
                       ng-focus="currentPasswordFocusFlag = true" ng-blur="currentPasswordFocusFlag = false"
                       placeholder="Current Password"
                       ng-model="currentPassword" minlength="8" required/>
                <div class="error-container"
                     ng-show="passwordManagementForm.currentPassword.$touched && passwordManagementForm.currentPassword.$error.required">
                    {{ PASSWORD_ERROR_MESSAGES.REQUIRED_CURRENT_PASSWORD }}
                </div>
                <div class="error-container"
                     ng-show="passwordManagementForm.currentPassword.$touched && passwordManagementForm.currentPassword.$error.minlength">
                    {{ PASSWORD_ERROR_MESSAGES.MIN_LENGTH_CURRENT_PASSWORD }}
                </div>
            </div>
            <div class="form-group">
                <input id="password" name="password" type="password" class="form-control"
                       ng-focus="passwordFocusFlag = true" ng-blur="passwordFocusFlag = false"
                       placeholder="New Password"
                       ng-model="password" validate-password required/>
                <div class="error-container"
                     ng-show="passwordManagementForm.password.$touched && passwordManagementForm.password.$invalid">
                    {{ PASSWORD_ERROR_MESSAGES.INVALID_PASSWORD }}
                </div>
                <div class="input-validation-rules"
                     ng-show="passwordFocusFlag || (passwordManagementForm.password.$touched && passwordManagementForm.password.$invalid)">
                        <i ng-class="pwdValidLength"></i>
						<span>{{ PASSWORD_ERROR_MESSAGES.MIN_LENGTH_NEW_PASSWORD }}</span>
                        <br/>
                        <i ng-class="pwdHasNumber"></i>
						<span>{{ PASSWORD_ERROR_MESSAGES.REQUIRED_NUMERIC_IN_NEW_PASSWORD }}</span>
                        <br/>
                        <i ng-class="pwdHasUpperCase"></i>
						<span>{{ PASSWORD_ERROR_MESSAGES.REQUIRED_UPPERCASE_IN_NEW_PASSWORD }}</span>
                </div>
            </div>
            <div class="form-group">
                <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
                       placeholder="Confirm Password" match="password" ng-model="confirmPassword"/>
                <div class="error-container"
                     ng-show="passwordManagementForm.confirmPassword.$touched && passwordManagementForm.confirmPassword.$error.match">
                    {{ PASSWORD_ERROR_MESSAGES.PASSWORD_MISMATCH }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4 pull-right">
                    <button id="passwordManagementSaveBtn" type="submit" ng-disabled="isSaving" class="btn primary-button">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>