<div class="modal-header">
	<!-- <h3 class="modal-title">I'm a modal!</h3> -->
</div>
<div class="modal-body">
	<i class="fa fa-exclamation-circle big-red-exclamation"></i>
	<div class="text-align-center">
		<strong>Are you sure you want to delete {{deletedPharmacy.storeName}}?</strong>
	</div>
</div>
<div class="modal-footer" style="text-align: center;">
	<button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
	<button class="btn btn-default" type="button" ng-click="no()">No</button>
</div>

